body {
  --graph-main: rgb(193, 167, 111);
  --graph-muted: rgba(193, 167, 111, 0.4);

  background-color: rgb(253, 246, 226);

  // Page preview on hover.
  #tooltip-wrapper {
    background-color: rgb(253, 246, 226);
    color: rgb(26, 25, 25);
  }
}

.markdown-preview-view {
  font-family: "beaufort-pro";
}

.content {
  color: rgb(26, 25, 25);

  header h1 {
    align-items: center;
    display: flex;
    justify-content: center;

    &::before,
    &::after {
      content: url("/img/user/Assets/header-decoration.svg");
      margin-inline: 10px;
      margin-block-start: 5px;
    }

    &::after {
      transform: scale(-1, 1);
    }
  }

  .markdown-rendered blockquote {
    background-color: rgba(21, 22, 22, 0.95);
    border: unset;
    border-radius: var(--radius-m);
    color: rgb(193, 167, 111);
    font-style: italic;
    padding: 20px 15px;
    text-align: center;
  }

  hr {
    border: unset;
    content: url("/img/user/Assets/horizontal-rule.svg");
    width: 100%;
  }

  .referred {
    border-color: rgb(193, 167, 111);
  }
}

.markdown-rendered .internal-link,
.markdown-rendered .internal-link.is-unresolved {
  color: rgb(26, 25, 25);
  font-weight: bold;

  &:hover {
    color: rgba(26, 25, 25, 0.75);
  }
}

// Sidebar left.
.filetree-wrapper {
  background-color: rgba(21, 22, 22, 0.95);

  .search-button {
    background-color: rgba(21, 22, 22, 0.95);
    border: 1px solid rgba(193, 167, 111, 0.25);
    color: rgba(193, 167, 111, 0.75);

    .search-keys {
      background-color: rgba(253, 246, 226, 0.1);
      color: rgba(193, 167, 111, 0.75);
    }
  }

  a {
    color: rgb(193, 167, 111);
  }

  .foldername-wrapper {
    color: rgb(193, 167, 111);
    font-weight: bold;
  }

  .filelist {
    border-left: 1px solid rgba(193, 167, 111, 0.4);

    .notelink.active-note {
      border-left-color: rgba(193, 167, 111, 0.75);

      .filename {
        color: rgba(193, 167, 111, 0.75) !important;
      }
    }
  }
}

// Sidebar right.
.sidebar-container {
  #graph-controls {
    background-color: rgba(21, 22, 22, 0.95);
    border: 1px solid rgba(193, 167, 111, 0.25);
    color: rgb(193,167,111);

    .depth-control .slider input[type="range"]::-webkit-slider-thumb,
    .depth-control .slider input[type="range"]::-moz-range-thumb {
      background-color: rgb(193, 167, 111)
    }

    .depth-control .slider input[type="range"] {
      background: rgba(193, 167, 111, 0.25)
    }

    #depth-display {
      background-color: rgba(193, 167, 111, 0.95);
      color: rgb(26, 25, 25);
      padding-block-start: 2px;
    }

    svg:hover {
      color: rgb(193,167,111);
    }
  }

  #link-graph {
    background-color: rgba(21, 22, 22, 0.95);
  }

  // Table of content.
  .toc {
    .toc-title-container .toc-title {
      color: rgb(193, 167, 111);
      font-weight: bold;
    }

    .toc-container ol {
      border-left: 1px solid rgba(193, 167, 111, 0.4);

      a {
        color: rgb(193, 167, 111);
      }
    }
  }

  .backlinks {
    .backlink-title {
      color: rgb(193, 167, 111);
    }

    .backlink-card {
      svg {
        color: rgb(193, 167, 111);
        margin-block-end: 3px;
        opacity: 0.75;
      }

      a {
        color: rgb(193, 167, 111);

        &:hover {
          color: rgb(193, 167, 111);
          font-weight: bold;
        }
      }
    }

    .no-backlinks-message {
      color: rgba(193, 167, 111, 0.75);
    }
  }
}

// Codeblocks.
.markdown-rendered pre {
  background-color: rgba(21, 22, 22, 0.9);
}
