body {
  --graph-main: rgb(193, 167, 111);
  --graph-muted: rgba(193, 167, 111, 0.75);

  background-color: rgb(253, 246, 226);

  // Page preview on hover.
  #tooltip-wrapper {
    background-color: rgb(253, 246, 226);
    color: rgb(26, 25, 25);
  }
}

.markdown-preview-view {
  font-family: "beaufort-pro";
}

.content {
  color: rgb(26, 25, 25);

  header h1 {
    display: inline;
    text-align: center;

    &::before,
    &::after {
      content: url("/img/user/Assets/header-decoration.svg");
      display: inline-block;
      height: 2rem;
      margin-right: 5px;
      width: auto;

      svg {
        height: 2rem;
        width: auto;
      }
    }

    &::after {
      transform: scale(-1, 1);
    }
  }
}

.markdown-rendered .internal-link,
.markdown-rendered .internal-link.is-unresolved {
  color: rgb(26, 25, 25);
  font-weight: bold;

  &:hover {
    color: rgba(26, 25, 25, 0.75);
  }
}

// Sidebar left.
.filetree-wrapper {
  background-color: rgba(21, 22, 22, 0.95);

  .search-button {
    background-color: rgba(21, 22, 22, 0.95);
    border: 1px solid rgba(193, 167, 111, 0.25);
    color: rgba(193, 167, 111, 0.75);

    .search-keys {
      background-color: rgba(253, 246, 226, 0.1);
      color: rgba(193, 167, 111, 0.75);
    }
  }

  a {
    color: rgb(193, 167, 111);
  }

  .foldername-wrapper {
    color: rgb(193, 167, 111);
    font-weight: bold;
  }

  .filelist {
    border-left: 1px solid rgba(193, 167, 111, 0.4);

    .notelink.active-note {
      border-left-color: rgba(193, 167, 111, 0.75);

      .filename {
        color: rgba(193, 167, 111, 0.75) !important;
      }
    }
  }
}

// Sidebar right.
.sidebar-container {
  #graph-controls {
    background-color: rgba(21, 22, 22, 0.95);
    border: 1px solid rgba(193, 167, 111, 0.25);
    color: rgb(193,167,111);

    .depth-control .slider input[type="range"]::-webkit-slider-thumb,
    .depth-control .slider input[type="range"]::-moz-range-thumb {
      background-color: rgb(193, 167, 111)
    }

    .depth-control .slider input[type="range"] {
      background: rgba(193, 167, 111, 0.25)
    }

    #depth-display {
      background-color: rgba(193, 167, 111, 0.75);
      color: rgb(26, 25, 25);
    }
  }

  #link-graph {
    background-color: rgba(21, 22, 22, 0.95);
  }

  .backlinks {
    .backlink-title {
      color: rgb(193, 167, 111);
    }

    .no-backlinks-message {
      color: rgba(193, 167, 111, 0.75);
    }
  }
}
